body {
    background-color: #dfdfe6fd !important;
    
}

.btn-toggle-nav a {
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
}

.scrollarea {
    overflow-y: auto;
}

#modal-lateral {
    width: 300px;
}

.modal-content {
    width: 300px;
}

#listmenu {
    background-color: #1c41b2 !important;
}

.backgroud_sidemenu {
    background-color: #1c41b2 !important;
    border-radius: 20px;
    opacity: 0.9;
    margin-left: 5px;
    margin-top: 3px;
}

#btmenu {
    color: white;
}

.img-fluid {
    opacity: 0.9;
}

#btlogar {
    border-radius: 50%;
    padding: 0;

    background-color: #1c41b2 !important;
    border: #1c41b2;
}

#btuser {

    border-radius: 50%;
    padding: 0;
    background-color: #1c41b2 !important;
    border: #1c41b2;

}

h5 {

    color: white;
}

#footeruser {
 
    justify-content: center !important;
    

}