body {
    background-color: #121214 !important;
}

.btn-toggle-nav a {
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
}

.scrollarea {
    overflow-y: auto;
}

#modal-lateral {
    width: 300px;
}

.modal-content {
    width: 300px;
}

#listmenu {
    background-color: #29292e;
    background-size: cover;
}

.backgroud_sidemenu {
    background-color: #29292e;
    background-size: cover;
    opacity: 0.9;
    margin-left: 5px;
    margin-top: 3px;
}

#btmenu {
    color: white;
}

.img-fluid {
    opacity: 0.9;
}

#btlogar {
    border-radius: 50%;
    padding: 0;

    background-color: #28361d !important;
    background-image: linear-gradient(
        180deg,
        #535361 10%,
        #222524 100%
    ) !important;
    background-size: cover;
    border: none;
}

#btuser {
    border-radius: 50%;
    padding: 0;
    background-color: #28361d !important;
    background-image: linear-gradient(
        180deg,
        #2d2d32 10%,
        #222524 100%
    ) !important;
    background-size: cover;
    border: #28361d;
}

h5 {
    color: white;
}

#footeruser {
    justify-content: center !important;
}


  
  
